.formButtonsWrapper {
  position: sticky;
  bottom: 0px;
  padding: 15px;
  background-color: white;
}

@media (max-width: 563px) {
  .formButtonsWrapper {
    position: relative;
  }
}

.submitButtonStyle {
  display: inline-block;
  margin-right: 15px;
}

@media (max-width: 563px) {
  .submitButtonStyle {
    display: block;
    margin-bottom: 15px;
  }
}

.pauseButtonStyle {
  display: inline-block;
  margin-right: 15px;
}

@media (max-width: 563px) {
  .pauseButtonStyle.displayOnSmallScreen {
    display: block;
  }

  .pauseButtonStyle.hideOnSmallScreen {
    display: none;
  }
}

.cancelButtonStyle {
  display: inline-block;
}

@media (max-width: 563px) {
  .cancelButtonStyle {
    display: block;
  }
}
