.formButtonsWrapper {
  position: sticky;
  bottom: 0px;
  padding: 15px;
  background-color: white;
}
.formButtonInnerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;

}

.submitButtonStyle {
  display: inline-block;
  margin-right: 15px;
}


.pauseButtonStyle {
  display: inline-block;
  margin-right: 15px;
}

.cancelButtonStyle {
  display: inline-block;
}

@media (max-width: 563px) {
  .formButtonInnerWrapper {
  gap: 0.5rem;

}
  .formButtonsWrapper {
    position: relative;
  }
  .cancelButtonStyle {
    display: block;
  }
    .pauseButtonStyle.displayOnSmallScreen {
    display: block;
  }

  .pauseButtonStyle.hideOnSmallScreen {
    display: none;
  }
    .submitButtonStyle {
    display: block;
    margin-bottom: 15px;
  }
}
