@import './formFillerSidebar.css';


.preview-window {
    font-family: Source Sans Pro, Arial, Verdana, sans-serif;
    background-color: #f5f3f3;
    width: 100%;
    overflow: hidden;
}



.referoContainer-div {
    overflow: scroll;
    text-align: initial;
}
